NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Kirtan@2007
DB_NAME=student_money_manager

JWT_SECRET=8sd!Lm2@xP7$qR5&zV1*D4wN6yH0bT9gC3aF
